<!-- new_comment.html -->

<div class="media md-4" id="div_{{comment.pk}}" style="margin-bottom: 25px;">
	<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
	<div class="media-body">
		<h6 class="mt-0">
			<a href="{% url 'user:user_details' slug=comment.author.user_details.slug %}">{{comment.author.first_name}} {{comment.author.last_name}}</a>
			<span class="comment-op delete-img" data-uaction="delete" data-id="{{comment.pk}}"><i class="fa fa-close" style="font-size:20px;color:red"></i></span>&nbsp;
			<span class="comment-op edit-img" data-uaction="edit" data-id="{{comment.pk}}"><i class="fa fa-edit" style="color:blue;font-size: 16px;"></i></span>&nbsp;
			{% if request.user != comment.post.author %}
				<!--<br/><span style="font-size: 10px;color: red">This comment is not yet approved. Only you can see this until this is approved by the post owner.</span>-->
			{% endif %}
		</h6>
		<div id="comment_text_{{comment.pk}}">{{comment.text|safe|linebreaks}}</div>
		{% if comment.approved_comments == True %}
			<div id="sub_comment_{{comment.pk}}">
			</div>

			<div class="media mt-4" style="margin-left: 35px;">
				<form>
					<div class="media-body">
						<textarea class="form-control" rows="2" cols="80" id="sub_comment_text_{{comment.pk}}" name="sub_comment_text"></textarea>
					</div>
					<br/>
					<button type="button" id="add_sub_comment_{{comment.pk}}" class="btn btn-primary sub-commend-btn">Comment</button>
				</form>
			</div>
		{% endif %}
	</div>
</div>