<!-- new_sub_comment.html -->
<div class="media mt-4" style="margin-left: 35px;" id="sub_comment_div_{{subcomment.pk}}">
	<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
	<div class="media-body">
		<h6 class="mt-0">
			<a href="{% url 'user:user_details' slug=subcomment.author.user_details.slug %}">{{subcomment.author.first_name}} {{subcomment.author.last_name}}</a>
			&nbsp;&nbsp;
			<span class="comment-op sub-delete-img" data-uaction="delete" data-id="{{subcomment.pk}}"><i class="fa fa-close" style="font-size:20px;color:red"></i></span>&nbsp;
			<span class="comment-op sub-edit-img" data-uaction="edit" data-id="{{subcomment.pk}}"><i class="fa fa-edit" style="color:blue;font-size: 16px;"></i></span>&nbsp;
		</h6>
		<div id="sub_comment_text_{{subcomment.pk}}">{{subcomment.comment_text|safe|linebreaks}}</div>
	</div>
</div>