/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


.delete-img{
	cursor: pointer;
}

.edit-img{
	cursor: pointer;
}

.sub-delete-img{
	cursor: pointer;
}
.sub-edit-img{
	cursor: pointer;	
}

.message-div {
	position: fixed;
	z-index:50;
	width: 400px;
	top: 20%;
	right: 5%;
}

.field-error {
	color: red;
}