<!--about.html -->
{% extends 'blog/base2.html' %}

{% block content %}
	<div class="container">
		<div class="card my-4">
			<h3 class="card-header">About</h3>
			<div class="card-body">
				<p><h4>Tech Blog</h4></p>
				<p>Hi, myself Kishor, I am a Software Engineer(works on <strong><i>Python, Perl, SQL, Javascript, jQuery etc..etc</i></strong>). Currently Exploring Django.
					This is a test blog created to practice Django. There may be errors on this
					If you find any errors or any suggestions, please inform me on <a href="mailto:kishorkrishnalayam@gmail.com">kishorkrishnalayam@gmail.com.</a></p>
				<p>Meanwhile please try my blog, you can post any blog after creating an account.</p>
				<p>Thank you for visiting.</p>
			</div>
		</div>
	</div>
{% endblock %}