<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
	{% load static %}
	{% include 'common/header.html' %}

	<body id="page_body">
		<!-- Navigation -->
		{% include 'common/navigation.html' %}
		{% include 'common/messages.html' %}
		<!-- Page Content -->
		<div class="container">
			<div class="row">
				<!-- Blog Entries Column -->
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
				
				<!-- Sidebar Widgets Column -->
				<div class="col-md-4">
					{% include 'common/sidebar.html' %}
					{% block sidebar %}

					{% endblock %}
				</div>

			</div>
		</div>
	</body>
	<br/>
	{% include 'common/footer.html' %}
</html>
