<!-- contact.html -->

{% extends 'blog/base2.html' %}

{% block content %}
	<div class="container">
		<div class="card my-4">
			<h5 class="card-header">Contact Us</h5>
			<div class="card-body">
				<p><h6>For any queries please contact: <a href="mailto:kishorkrishnalayam@gmail.com">kishorkrishnalayam@gmail.com</a></h6></p>
				<p><h6><strong>Address:</strong></h6></p>
				<span>
					Building<br/>
					Street<br/>
					Area<br/>
					State<br/>
					<strong>You can contact on email, I will respond :)<strong>
				</span>
			</div>
		</div>
	</div>
{% endblock %}
