<!-- draft.html -->

{% extends 'blog/base.html' %}

{% load static %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="my-4"><small>Drafts:</small></h1>
				<table class="table">
					<tr>
						<th>#</th>
						<th width="50%">Title</th>
						<th>Action</th>
					</tr>
					{% for draft in post_list %}
						<tr id="row_{{draft.pk}}">	
							<td>{{forloop.counter}}</td>
							<td>{{draft.title}}</td>
							<td>
								<span class="delete-img" id="delete_{{draft.pk}}"><i class="fa fa-close" style="font-size:20px;color:red"></i></span>&nbsp;
								<span class="edit-img" id="edit_{{draft.pk}}" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit" style="color:blue"></i></span>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Update Your Post:</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form method="post" action="{% url 'blog:update_draft' %}">
						{% csrf_token %}
						<input type="hidden" name="post_id" id="post_id" value="">
						<input type="hidden" name="submit_type" id="submit_type" value="">
						<div class="modal-body">
							<div class="form-group">
								<label for="title">Title:</label>
								<input type="text" name="title" id="title" placeholder="Title" class="form-control"/>
								{% if form.title.errors %}
									<span style="color: red">{{form.title.errors}}</span>
								{% endif %}
							</div>
							<div class="form-group">
								<label for="text">Content:</label>
								<textarea class="form-control" name="text" id="text" rows="7"></textarea>
								{% if form.text.errors %}
									<span style="color: red">{{form.text.errors}}</span>
								{% endif %}
							</div>
							<div class="form-group">
								<label for="tags">Tags:
									<small>
										(should be comma separated values. You can select tags from available tags by clicking them.)
									</small>
								</label>
								<input type="text" name="tags" id="tags" placeholder="tags" class="form-control"/>
							</div>
						</div>
						<div class="modal-footer">
							<div class="form-group">
								<input class="btn btn-primary model-btn" type="submit" value="Save"/>
								<input class="btn btn-success model-btn" type="submit" value="Post"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		{% if messages %}
			var message_text = '';
			{% for message in messages %}
				message_text += "{{message}} <br/>" 
			{% endfor %}
			display_popup_message(message_text, 'success');
		{% endif %}

		{% if form.title.errors %}
			$(document).ready(function(){
				var post_id = '{{form.post_id.value}}';
				if (post_id){
					$('#edit_'+post_id).click();
				}
			});
		{% endif %}

	</script>
	<script src="{% static "js/blog/draft_page.js" %}"></script>
{% endblock %}