<!-- edit_blogs.html -->

<style type="text/css">
	.badge{
		cursor: pointer;
	}
</style>

{% extends 'blog/base2.html' %}

{% block content %}

	<div class="container" style="margin-top: 10px;">
		<div class="col-md-12">
			<h3>New Blog..!!</h3>
			<form method="post" action="{% url 'blog:update_blog' pk=post.pk %}">
				{% csrf_token %}
				<div class="form-group">
					<label for="title">Title:</label>
					<input type="text" name="title" id="title" placeholder="Title" class="form-control"
					value="{{post.title}}"/>
					{% if form.title.errors %}
						<span style="color: red">{{form.title.errors}}</span>
					{% endif %}
				</div>
				<div class="form-group">
					<label for="text">Content:</label>
					<textarea class="form-control" name="text" id="text" rows="7" value="{{post.text}}">{{post.text}}</textarea>
				</div>
				{% if form.title.errors %}
					<span style="color: red">{{form.title.errors}}</span>
				{% endif %}
				<div class="form-group">
					<label for="tags">Tags:
						<small>
							(should be comma separated values. You can select tags from available tags by clicking them.)
						</small>
					</label>
					<input type="text" name="tags" id="tags" placeholder="tags" class="form-control" value="{{post.tags}}" />
				</div>
				<div class="form-group">
					<input class="btn btn-success" type="submit" value="Save"/>
					<a href="{% url "blog:my_blogs" %}" class="btn btn-primary">Back</a>
					<!--<botton class="btn btn-info" type="submit">Preview</botton>-->
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
	<div class="card my-4">
		<h5 class="card-header">Available Tags</h5>
		<div class="card-body">
		  <div class="row">
		  	<div class="col-lg-12">
		  		<div class="container">
		  		<span class="badge badge-secondary">Gadgets</span>
		  		<span class="badge badge-secondary">PC</span>
		  		<span class="badge badge-secondary">Android</span>
		  		<span class="badge badge-secondary">Games</span>
		  		<span class="badge badge-secondary">Review</span>
		  		<span class="badge badge-secondary">Tech</span>
		  		<span class="badge badge-secondary">Books</span>
		  		<span class="badge badge-secondary">OS</span>
		  		<span class="badge badge-secondary">Cloud</span>
		  		<span class="badge badge-secondary">Space</span>
		  		<span class="badge badge-secondary">Automotives</span>
		  	</div>
		  	</div>
		  </div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('.badge').click(function(){
				if ($(this).hasClass('badge-secondary')){
					$(this).removeClass('badge-secondary');
					$(this).addClass('badge-primary');
				}else if ($(this).hasClass('badge-primary')){
					$(this).removeClass('badge-primary');
					$(this).addClass('badge-secondary');
				}
			});

			$('form').submit(function(){
				var tags = $('#tags').val();
				$('.badge-primary').each(function(){
					tags = tags?tags+','+jQuery(this).html():jQuery(this).html();
				});
				$('#tags').val(tags)
			});
		});
	</script>
{% endblock %}
