{% extends 'blog/base.html' %}

{% block content %}
	<h1 class="my-4">Latest Blogs
		<small></small>
	</h1>
	<!-- Blog Post -->
	{% if post_list %}
		{% for post in post_list %}
			<div class="card mb-4">
				<!--<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
				<div class="card-body">
					<h2 class="card-title"><a href="{% url 'blog:post_details' slug=post.slug %}">{{post.title}}</a></h2>
					<p class="card-text">{{post.text|safe|linebreaks|truncatechars:300}}</p>
					<a href="{% url 'blog:post_details' slug=post.slug %}" class="btn btn-primary">Read More &rarr;</a>
				</div>
				<div class="card-footer text-muted">
				Posted on {{post.published_date|date:"M d, Y"}} by
				<a href="{% url 'user:user_details' slug=post.author.user_details.slug %}">{{post.author.first_name}}&nbsp;{{post.author.last_name}}</a>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div >
			Oops..!!! No post found :(
		</div>
	{% endif %}

	<!-- Pagination -->
	{% if is_paginated %}
		<ul class="pagination justify-content-center mb-4">
			{% if page_obj.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?{% if search %}search={{search}}&{% endif %}page={{ page_obj.previous_page_number }}">&larr; Prev</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#">&larr; Prev</a>
				</li>
			{% endif %}

			{% if page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="?{% if search %}search={{search}}&{% endif %}page={{ page_obj.next_page_number }}">Next &rarr;</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#">Next &rarr;</a>
				</li>
			{% endif %}
	{% endif %}
	<div>

	</div>
		<script type="text/javascript">
			
			$(document).ready(function(){
				$('#tag_header').html('Search with Tags')
				{% if messages %}
					var message_text = '';
					{% for message in messages %}
						message_text += "{{message}}<br/>"
					{% endfor %}
					$('#alert_div').html(message_text);
					$("#alert_div").fadeIn(1000).delay(1000).fadeOut(3000);
				{% endif %}

				$.ajax({
					type: 'get',
					url: '{% url "blog:get_tags" %}',
					data: {
						post_id: '',
					},
					success: function(response){
						console.log(response);
						if (response['tags']){
							tag1= [];
							tag2 =[];
							tags = response['tags'];
							for (var i=0; i< tags.length; i++){
								if (i%2 == 0){
									tag1.push(tags[i]);
								}else{
									tag2.push(tags[i]);
								}
							}
							append_tags(tag1, 'blog_tags1');
							append_tags(tag2, 'blog_tags2');
						}
					},
					error: function(response){

					},
				});
			});

			function append_tags(tags, id){
				field = '<ul class="list-unstyled mb-0">';
				for(var i=0; i< tags.length; i++){
					field+='<li><a href="?search='+ tags[i] + '">' + tags[i] + '</a></li>';
				}
				field+='</ul>'
				$('#'+id).html(field);
			}
		</script>
{% endblock %}