<!-- my_blogs.html -->
{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="my-4"><small>My Blogs:</small></h1>
			<table class="table">
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Action</th>	
				</tr>
				{% for post in post_list %}
					<tr id="row_{{post.pk}}">
						<td>{{forloop.counter}}</td>
						<td>
							<a data-toggle="tooltip" data-html="true" href="{% url 'blog:post_details' slug=post.slug %}"
							title="Nmber of views: {{post.stats.number_of_views}}
Last View:{{post.stats.last_view}}"
							>{{post.title}}</a>
						</td>
						<td>
							<span class="delete-img" id="delete_{{post.pk}}"><i class="fa fa-close" style="font-size:20px;color:red"></i></span>&nbsp;
							<a class="fa fa-edit" style="color:blue;cursor: pointer;" class="edit-img" href="{% url "blog:edit_blog" pk=post.pk %}"><span class="edit-img" id="edit_{{post.pk}}"></a></span>
						</td>
					</tr>
				{% empty %}
					<tr>
						<td colspan="3">No Posts available</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.delete-img').click(function(){
			var draft_id = $(this).attr('id').replace('delete_', '');
			if (confirm('Are you sure you want to delete this post?')){
				$.ajax({
					type: 'get',
					url: '/blog/delete_post/'+draft_id,
					//url: '{% url "blog:delete_post" pk=61 %}',
					success: function(response){
						if (response['error']){
							display_popup_message(response['error'], 'error');
						}else if (response['success']){
							display_popup_message(response['success'], 'success');
							console.log(response);
							$('#row_'+draft_id).remove();
						}else{
							console.log(response);
							display_popup_message('Oops Some error occured..!!', 'error');
						}
					},
					error: function(response){
						display_popup_message('Oops Some error occured..!!', 'error');
					}

				});
			}
		});
	});
</script>
{% endblock %}