<!-- new_post.html -->
{% extends 'blog/base.html' %}

{% load static %}
{% block content %}
    <!-- Title -->
	<h1 class="mt-4">{{post.title}}</h1>
	{% csrf_token %}
	<input type="hidden" name="post_id" id="post_id" value="{{post.pk}}">
	<!-- Author -->
	<p class="lead">
		by
		<a href="{% url 'user:user_details' slug=post.author.user_details.slug %}">{{post.author.first_name}}&nbsp;{{post.author.last_name}}</a>
	</p>

	<hr>

	<p>Posted on {{post.published_date|date:'M d, Y'}}</p>
	<p>{{post.text|safe|linebreaks}}</p>

	<hr>

	<!-- Comments Form -->
	{% if request.user.is_authenticated %}
		<div class="card my-4">
			<h5 class="card-header">Leave a Comment:</h5>
			<div class="card-body">
				<form>
					<div class="form-group">
						<textarea class="form-control" rows="3" id="comment_text" name="comment_text"></textarea>
					</div>
					<button type="button" id="add_comment" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	{% endif %}
	<div id="comment_div">
		{% for comment in post.comments.all %}

			{% if comment.approved_comments == True or request.user == comment.author or request.user == post.author %}
				<div class="media md-4" id="div_{{comment.pk}}" style="margin-bottom: 25px;">
					<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
					<div class="media-body">
						<h6 class="mt-0">
							<a href="{% url 'user:user_details' slug=comment.author.user_details.slug %}">{{comment.author.first_name}} {{comment.author.last_name}}</a>
							{% if request.user ==  post.author %}
								&nbsp;&nbsp;
								<span class="comment-op delete-img" data-uaction="delete" data-id="{{comment.pk}}"><i class="fa fa-close" style="font-size:20px;color:red"></i></span>&nbsp;
								{% if request.user == comment.author %}
									<span class="comment-op edit-img" data-uaction="edit" data-id="{{comment.pk}}"><i class="fa fa-edit" style="color:blue;font-size: 16px;"></i></span>&nbsp;
								{% endif %}
								{% if comment.approved_comments == False %}
									<span class="comment-op delete-img" data-uaction="approve" data-id="{{comment.pk}}"><i class="fa fa-check" style="font-size:20px;color:green"></i></span>&nbsp;
								{% endif %}
							{% else %}
								{% if comment.author  == request.user %}
									&nbsp;&nbsp;
									<span class="comment-op delete-img" data-uaction="delete" data-id="{{comment.pk}}"><i class="fa fa-close" style="font-size:20px;color:red"></i></span>&nbsp;
									<span class="comment-op edit-img" data-uaction="edit" data-id="{{comment.pk}}"><i class="fa fa-edit" style="color:blue;font-size: 16px;"></i></span>&nbsp;
								{% endif %}
							{% endif %}
							{% if comment.approved_comments == False and request.user == comment.author %}
								<br/><span style="font-size: 10px;color: red">This comment is not yet approved. Only you can see this until this is approved by the post owner.</span>
							{% endif %}
						</h6>
						<div id="comment_text_{{comment.pk}}">{{comment.text|safe|linebreaks}}</div>
						<div id="sub_comment_{{comment.pk}}">
							{% for subcomment in comment.sub_comments.all %}
								<div class="media mt-4" style="margin-left: 35px;" id="sub_comment_div_{{subcomment.pk}}">
									<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
									<div class="media-body">
										<h6 class="mt-0">
											<a href="{% url 'user:user_details' slug=subcomment.author.user_details.slug %}">{{subcomment.author.first_name}} {{subcomment.author.last_name}}</a>
											&nbsp;&nbsp;
											{% if request.user ==  subcomment.author %}
												<span class="comment-op sub-delete-img" data-uaction="delete" data-id="{{subcomment.pk}}"><i class="fa fa-close" style="font-size:20px;color:red"></i></span>&nbsp;
												<span class="comment-op sub-edit-img" data-uaction="edit" data-id="{{subcomment.pk}}" ><i class="fa fa-edit" style="color:blue;font-size: 16px;"></i></span>&nbsp;
											{% else %}
												{% if request.user == comment.author %}
													<span class="comment-op sub-delete-img" data-uaction="delete" data-id="{{subcomment.pk}}"><i class="fa fa-close" style="font-size:20px;color:red"></i></span>&nbsp;
												{% else %}
													{% if request.user == post.author %}
														<span class="comment-op sub-delete-img" data-uaction="delete" data-id="{{subcomment.pk}}"><i class="fa fa-close" style="font-size:20px;color:red"></i></span>&nbsp;
													{% endif %}
												{% endif %}
											{% endif %}
										</h6>
										<div id="sub_comment_text_{{subcomment.pk}}">{{subcomment.comment_text|safe|linebreaks}}</div>
									</div>
								</div>
							{% endfor %}
						</div>
						{% if request.user.is_authenticated %}
							<div class="media mt-4" style="margin-left: 35px;">
								<form>
									<div class="media-body">
										<textarea class="form-control" rows="2" cols="80" id="sub_comment_text_{{comment.pk}}" name="sub_comment_text"></textarea>
									</div>
									<br/>
									<button type="button" id="add_sub_comment_{{comment.pk}}" class="btn btn-primary sub-commend-btn">Comment</button>
								</form>
							</div>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% empty %}
			<p id="no_comment">No Comments..:(</p>
		{% endfor %}
	</div>

	<div class="modal fade" id="comment_model" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Update Comment:</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="title">Comment:</label>
						<input type="hidden" name="update_comment_id" id="update_comment_id" value="">
						<textarea class="form-control" rows="8" id="comment_text_update" name="comment_text_update"></textarea>
						{% if form.title.errors %}
							<span style="color: red">{{form.title.errors}}</span>
						{% endif %}
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<input class="btn btn-success model-btn" type="submit" value="Update" id="update_cmd_btn"/>
						<input class="btn btn-primary model-btn" data-dismiss="modal" type="button" value="Cancel" id="cmd_cancel_btn"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="sub_comment_model" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Update Comment:</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="title">Comment:</label>
						<input type="hidden" name="update_sub_comment_id" id="update_sub_comment_id" value="">
						<textarea class="form-control" rows="8" id="update_sub_comment" name="update_sub_comment"></textarea>
						{% if form.update_sub_comment.errors %}
							<span style="color: red">{{form.update_sub_comment.errors}}</span>
						{% endif %}
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<input class="btn btn-success model-btn" type="submit" value="Update" id="update_sub_cmd_btn"/>
						<input class="btn btn-primary model-btn" data-dismiss="modal" type="button" value="Cancel" id="sub_cmd_cancel_btn"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
			
		$(document).ready(function(){
			$.ajax({
				type: 'get',
				url: '{% url "blog:get_tags" %}',
				data: {
					post_id: '{{post.pk}}	',
				},
				success: function(response){
					console.log(response);
					if (response['tags']){
						tag= [];
						tags = response['tags'];
						for (var i=0; i< tags.length; i++){
							tag.push(tags[i]);
						}
						append_tags(tag, 'divtag_body');
					}
				},
				error: function(response){

				},
			});
		});

		function append_tags(tags, id){
			field = '<div class="col-lg-12"><div class="container">';
			for(var i=0; i< tags.length; i++){
				field+= '<span class="badge badge-secondary">'+ tags[i] +'</span> &nbsp;&nbsp;'
			}
			field+='</div></div>'
			$('#'+id).html(field);
		}
	</script>
	<script src="{% static "js/blog/view_post.js" %}"></script>
{% endblock %}