<!-- footer.html -->
{% load static %}
<!-- Bootstrap core JavaScript -->
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; TechBlog.com 2018</p>
  </div>
</footer>