<!-- header.html -->
{% load static %}

<script type="text/javascript">
	var base_url = "{{request.get_host}}";
	var blog_url = base_url + '/blog';
</script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title id="titleid">Blog Home</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static "vendor/bootstrap/css/font-awesome.min.css" %}"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="{% static "css/tech_blog.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/blog-home.css" %}" rel="stylesheet">
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static "js/tech_blog.js" %}"></script>
</head>