<!-- messages.html -->


<style type="text/css">
	.message-div {
		position: fixed;
		min-height: 60px;
		z-index: 22px;
		top: 70px;
		right: 20px;
		/*border: 1px solid;*/
	}
</style>

<div class="message-div" id="user_message_div">
	<div class="alert alert-success" role="alert" id="alert_div" style="display: none;">
	</div>
</div>