<!-- navigation.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'blog:home' %}">Tech Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      	{% if user.is_authenticated %}
	      	<li class="nav-item">
	          <a class="nav-link active" href="{% url 'blog:create' %}">New</a>
	        </li>
	    {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:home' %}">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:contactus' %}">Contact</a>
        </li>
        {% if request.user.is_authenticated %}
        	<li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          	{% if request.user.first_name %}
	          		{{request.user.first_name}}
	          	{% elif request.user.last_name %}
	          		{{request.user.last_name}}
	          	{% else %}
	          		User
	          	{% endif %}
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="{% url 'user:user_details' slug=request.user.user_details.slug %}">Profile</a>
		          <a class="dropdown-item" href="{% url 'blog:drafts' %}">Drafts</a>
		          <a class="dropdown-item" href="{% url 'blog:my_blogs' %}">My Blogs</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
		        </div>
	        </li>
        {% else %}
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'user:login' %}">Login</a>
	        </li>
	    {% endif %}
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({
			type : 'get',
			url : '/blog/notificatios',
			data: {
					notification_type: 'all',
					
				},

			success: function(response){

			},

			error: function(response){

			}
		});
	});
</script>