<!-- sidebar.html -->

<div class="card my-4">
	<h5 class="card-header">Search</h5>
	<div class="card-body">
		<form method="get" action="{% url "blog:home" %}">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for..." name="search" id="search">
		    	<span class="input-group-btn">
		      		<button class="btn btn-secondary" type="submit" id="search-btn">Go!</button>
		    	</span>
		 	</div>
		 	<div>
		 		
		 	</div>
		</form>
	</div>
</div>

<!-- Categories Widget -->
<div class="card my-4">
	<h5 class="card-header" id="tag_header">Tags</h5>
	<div class="card-body">
	  <div class="row" id="divtag_body">
	    <div class="col-lg-6" id="blog_tags1">
	    </div>
	    <div class="col-lg-6" id="blog_tags2">
	    </div>
	  </div>
	</div>
	</div>

	{% if page_name == 'view_post' and request.user.is_authenticated and post.author.id == request.user.id %}
		<div class="card my-4">
			<h5 class="card-header">Details</h5>
			<div class="card-body">
				<table class="table">
					<tr>
						<td><b>Unique user views:</b></td>
						<td>{{ post.stats.unique_viwes }}</td>
					</tr>
					<tr>
						<td><b>Total views:</b></td>
						<td>{{ post.stats.number_of_views }}</td>
					</tr>
					<tr>
						<td><b>Last View:</b></td>
						<td>{{ post.stats.last_view|date:"M d, Y" }}</td>
					</tr>
				</table>
			</div>
		</div>
	{% endif %}

	{% if page_name == 'blog_home' and request.user.is_authenticated %}
		<div class="card my-4">
			<h5 class="card-header">Recent Views</h5>
			<div class="card-body">
				<ul>
				{% for view in last_viewed %}
					<li><a href="{% url 'blog:post_details' slug=view.post.slug %}">{{view.post.title}}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
</div>

<script type="text/javascript">



	function monkeyPatchAutocomplete() {

		// don't really need this, but in case I did, I could store it and chain
		var oldFn = $.ui.autocomplete.prototype._renderItem;

		$.ui.autocomplete.prototype._renderItem = function( ul, item) {
		var re = new RegExp("" + this.term) ;
		var t = item.label.replace(re,"<span style='font-weight:bold;color:Blue;'>" + 
		this.term + 
			"</span>");
			return $( "<li></li>" )
			.data( "item.autocomplete", item )
			.append( "<a>" + t + "</a>" )
			.appendTo( ul );
		};
	}

	$(document).ready(function(){
		monkeyPatchAutocomplete();
	});

	$('#search').keyup(function(){
		var text = $(this).val();
		if (text){
			$.ajax({
				type: 'get',
				url: '/blog/post/post_list',
				data: {
					search_text: text,
				},

				success: function(response){
					sourceData = [];
					for (var i=0; i< response.length;i++){
						sourceData.push(response[i]['title']);	
					}
					$( "#search" ).autocomplete({
						source: sourceData,
						classes: {
							"ui-autocomplete": "highlight"
						},
						select: function(event, ui){
							console.log(ui['item']['label']);
							$('#search').val(ui['item']['label']);
							$('#search-btn').click();
						},
					});			
				},

				error: function(response){

				},

			});
		}
	});
	$( function() {
	
});
</script>