<!-- register.html -->

{% extends 'blog/base2.html' %}

{% block content %}
	<div class="container">
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-4"></div>
			<div class="col-md-8">
				<form class="form-signin" method="post">
                	{% csrf_token %}
                	<div class="form-group">
						<label for="first_name">Username:</label>
						<input type="text" name="username" id="username" placeholder="username" class="form-control"
						value="{{form.username.value|default_if_none:""}}"/>
						{% if form.username.errors %}
							<span style="color: red">{{form.username.errors}}</span>
						{% endif %}
					</div>

					<div class="form-group">
						<label for="first_name">First Name:</label>
						<input type="text" name="first_name" id="first_name" placeholder="First Name" class="form-control" value="{{form.first_name.value|default_if_none:""}}"/>
						{% if form.first_name.errors %}
							<span style="color: red">{{form.first_name.errors}}</span>
						{% endif %}
					</div>

					<div class="form-group">
						<label for="last_name">Last Name:</label>
						<input type="text" name="last_name" id="last_name" placeholder="Last Name" class="form-control"
						value="{{form.last_name.value|default_if_none:""}}"/>
						{% if form.last_name.errors %}
							<span style="color: red">{{form.last_name.errors}}</span>
						{% endif %}
					</div>

					<div class="form-group">
						<label for="first_name">Email:</label>
						<input type="text" name="email" id="email" placeholder="Email" class="form-control"
						value="{{form.email.value|default_if_none:""}}"/>
						{% if form.email.errors %}
							<span style="color: red">{{form.email.errors}}</span>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="first_name">Password:</label>
						<input type="password" name="password" id="password" placeholder="Password" class="form-control"
						value=""/>
						{% if form.password.errors %}
							<span style="color: red">{{form.password.errors}}</span>
						{% endif %}
					</div>
					<div>
						<input type="submit" name="submit" class="btn btn-success" value="Register">
					</div>
					<br/>
                </form>
			</div>
		</div>
	</div>
{% endblock %}