<!-- user_details.html -->

{% extends 'blog/base2.html' %}

{% block content %}
	<div class="container" style="margin-top: 10px;margin-bottom: 10px;">
		<div class="col-md-12">
			<h3>Profile:</h3>
			{% if user.pk == request.user.pk %}
				<form method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="first_name">First Name:</label>
						<input type="text" name="first_name" id="first_name" placeholder="First Name" class="form-control"
						value="{{request.user.first_name}}"/>
						{% if form.first_name.errors %}
							<span style="color: red">{{form.first_name.errors}}</span>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="last_name">Middle Name:</label>
						<input type="text" name="middle_name" id="last_name" placeholder="Middle Name" class="form-control"
						value="{{request.user.user_details.middle_name}}"/>
						{% if form.middle_name.errors %}
							<span style="color: red">{{form.middle_name.errors}}</span>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="last_name">Last Name:</label>
						<input type="text" name="last_name" id="last_name" placeholder="Last Name" class="form-control"
						value="{{request.user.last_name}}"/>
						{% if form.last_name.errors %}
							<span style="color: red">{{form.last_name.errors}}</span>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" name="email" id="email" placeholder="Email" class="form-control" value="{{request.user.email}}"/>
						{% if form.email.errors %}
							<span style="color: red">{{form.email.errors}}</span>
						{% endif %}
					</div>
					<div>
						<input type="submit" name="submit" class="btn btn-success" value="Save">
					</div>
				</form>
			{% else %}
				<br/>
				<table class="table">
					<tr>
						<td><strong>First Name</strong></td>
						<td>{{user.first_name}}</td>
					</tr>
					<tr>
						<td><strong>Middle Name</strong></td>
						<td>{{user.user_details.middle_name}}</td>
					</tr>
					<tr>
						<td><strong>Last Name</strong></td>
						<td>{{user.last_name}}</td>
					</tr>
					<tr>
						<td><strong>Email</strong></td>
						<td>{{user.email}}</td>
					</tr>
				</table>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block sidebar %}
	<div class="card my-4">
		<h5 class="card-header">Details</h5>
		<div class="card-body">
		  <div class="row">
		  	<div class="col-lg-12">
		  		<div class="container">
			  		<p><strong>Last Login: </strong>{{user.last_login}}</p>
			  		<!--<p><strong>User Actions:</strong></p>-->
		  		</div>
		  	</div>
		  </div>
		</div>
	</div>
	{% if user.pk == request.user.pk %}
		<div class="card my-4" id="update_passowrd_div">
			<h5 class="card-header">Update Password</h5>
			<div class="card-body">
			  <div class="row">
			  	<div class="col-lg-12">
			  		<div class="container">
				  		<div class="form-group">
							<label for="old_password">Current Password:</label>
							<input type="password" name="old_password" id="old_password" class="form-control"/>
						</div>
			  		</div>
			  		<div class="container">
				  		<div class="form-group">
							<label for="new_password1">New Password:</label>
							<input type="password" name="new_password1" id="new_password1" class="form-control"/>
						</div>
			  		</div>
			  		<div class="container">
				  		<div class="form-group">
							<label for="new_password2">Confirm Password:</label>
							<input type="password" name="new_password2" id="new_password2" class="form-control"/>
						</div>
			  		</div>
			  		<div style="text-align: center">
			  			<input type="button" name="update_passowrd" id="update_passowrd" value="update" class="btn btn-primary">
			  		</div>
			  	</div>
			  </div>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function(){
				$('#update_passowrd').click(function(){
					$.ajax({
						type: 'post',
						url: "{% url 'user:update_password' %}",
						data: { old_password: 		$('#old_password').val(),
								new_password1: 	$('#new_password1').val(),
								new_password2: $('#new_password2').val(),
								csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
							  },
						success: function(response){

							if (response['error']){
								display_errors(response['form_errors'], 'update_passowrd_div');
							}else{
								$('#update_passowrd_div .field-error').remove();
								display_popup_message(response['message'], 'success');
							}
						},

						error: function(response){
							console.log(response);
						}

					});
				});
			});
		</script>
	{% endif %}
{% endblock %}
