<!-- 404.html -->

{% load static %}

	<script type="text/javascript">
	var base_url = "{{request.get_host}}";
	var blog_url = base_url + '/blog';
</script>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title id="titleid">Blog Home</title>
	    <!-- Bootstrap core CSS -->
	    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
	    <!-- <link rel="stylesheet" href="{% static "vendor/bootstrap/css/font-awesome.min.css" %}"> -->
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	    <link href="{% static "css/tech_blog.css" %}" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="{% static "css/blog-home.css" %}" rel="stylesheet">
	    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
	    <script src="{% static "js/tech_blog.js" %}"></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'blog:home' %}">Tech Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:home' %}">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:contactus' %}">Contact</a>
        </li>
        {% if user.is_authenticated %}
        	<li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          	{% if user.first_name %}
	          		{{user.first_name}}
	          	{% elif user.last_name %}
	          		{{user.last_name}}
	          	{% else %}
	          		User
	          	{% endif %}
	          </a>
	          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="{% url 'user:user_details' slug=request.user.user_details.slug %}">Profile</a>
		          <a class="dropdown-item" href="{% url 'blog:drafts' %}">Drafts</a>
		          <a class="dropdown-item" href="{% url 'blog:my_blogs' %}">My Blogs</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
		        </div>
	        </li>
        {% else %}
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'user:login' %}">Login</a>
	        </li>
	    {% endif %}
      </ul>
    </div>
  </div>
</nav>
	<div class="content">
		
	</div>
	<div style="min-height: 100px;">
		<div class="col-md-12" style="text-align: center; padding-top: 100px;padding-left: 50px;padding-bottom: 50px;">
			<h1>
				404
			</h1>
			<h4>Oops page Not found :( :(</h4> 
			<h4>Please try again later</h4>
		</div>
	</div>
